@model Activity
@{
    Layout = null;
}

<table style="border:1px solid #dcdcdc;">
    <tr>
        <td style="width:173px; height:120px; vertical-align:middle; text-align:center; padding:5px; background-color:#ededed">
            @if (Model.Poster != string.Empty)
            {
                <img src="@Host_Domain.Host()@Model.Poster" style="max-width:100%; max-height:100%; " />
            }
            else
            {
                <img src="~/Images/NotImg.jpg" style="max-width:100%; max-height:100%;" />
            }
        </td>
        <td>
            <input type="file" id="File_Input" name="File_Input" />
            <button type="button" onclick="Ajax_Img_Upload(this)"><i class="icon-plus"></i> 上传</button>
        </td>
    </tr>
</table>

