@model User_Plat
@{
    string Controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = action;
    Layout = "~/Views/Shared/_Layout.cshtml";
    User_Plat U = ViewData["U"] as User_Plat;
}
<table style="margin-top:80px; margin-left:80px">
    <tr>
        <td>
            <p style="color:#1263a5; font-size:20px; font-weight:bold; margin:10px 0px; text-align:right;">欢迎登录 &nbsp;&nbsp;</p>
        </td>
        <td>
            <p style="color:#1263a5; font-size:20px; font-weight:bold; margin:10px 0px;">仙交校友汇后台管理系统</p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;">
            <img src="~/Images/西安交通大学.png" style="max-height:85px;" />
        </td>
        <td style="vertical-align:top;">
            <table>
                <tr>
                    <td>
                        <span>角色权限：</span>
                        <span>管理员</span>
                        @if (Model.Is_Admin == User_Plat_Is_Admin_Enum.Admin.ToString())
                        {
                            <span>管理员</span>
                        }
                        <span style="padding-left:20px;">上次登录：2019-10-28 19:56</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px;">
                        <table>
                            <tr>
                                <td style="padding-bottom:25px;">
                                    <a href="#"><img src="~/Images/Index_A01.png" style="padding:14px; width:55px;  border-radius:5px; border:2px solid #c3c3c3" /></a>
                                </td>
                                <td style="vertical-align:middle; padding-left:10px; padding-bottom:30px;">
                                    <a href="#">修改<br />我的密码</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    @*<tr>
        <td colspan="2">
            <div style="border:1px solid #ccc; padding:3px 8px; ">当前与您关联业务提示：</div>
            <div style="border:1px solid #ccc; padding:6px 8px; height:300px;"></div>
        </td>
    </tr>*@
</table>



