@model Information
@{
    string Controller = ViewContext.RouteData.Values["Controller"].ToString();
    Layout = null;
}
<div style="height:667px;">
    <table>
        <tr>
            <td style="text-align:center; padding-bottom:5px;"><h5>@Model.Title</h5></td>
        </tr>
        <tr>
            <td style="padding-bottom:5px;"><span>发布时间：</span><span>@Model.Create_DT.ToString("yyyy年MM月dd日")</span></td>
        </tr>
        <tr>
            <td>@Html.Raw(Model.Content)</td>
        </tr>
    </table>
</div>


<style>
    img {
        width: 100%;
        height: auto;
    }
</style>
