@{
    string action = ViewContext.RouteData.Values["action"].ToString();
    Layout = null;
    User_Plat U = ViewData["U"] as User_Plat;
    List<Top_Menu> Top_List = FunTree.Get_Top_Menu_List(U, "发现", "微服坊");
}

<div class="Sub_Top_Menu">
    <div class="Sub_Top_Menu_Div">
        @foreach (var x in Top_List)
        {
            <a class="Sub_Top_Menu_Btn" id="Sub_Top_@x.Name" href="~/@x.URL">@x.Name</a>
        }
    </div>
</div>