@model Mini_Service
@{
    string Controller = ViewContext.RouteData.Values["Controller"].ToString();
    Layout = null;
}
<div style="height:667px;">
    <table>
        <tr>
            <td style="text-align:center; padding-bottom:5px;"><h5>@Model.Name</h5></td>
        </tr>
        <tr>
            <td style="padding-bottom:5px;"><span>创建时间：</span><span>@Model.Create_DT.ToString("yyyy年MM月dd日")</span></td>
        </tr>
        <tr>
            <td><strong>产品服务</strong></td>
        </tr>
        <tr>
            <td>@Html.Raw(Model.Main_Business)</td>
        </tr>
        <tr>
            <td><strong>公司介绍</strong></td>
        </tr>
        <tr>
            <td>@Html.Raw(Model.Intro)</td>
        </tr>
    </table>
</div>


<style>
    img {
        width: 100%;
        height: auto;
    }
</style>
